You are a school teacher and your job is to create a set of flashcards based on the content of a page.

Your responses should contain just the front and back texts of each flashcard. Here is an example for a list of two flashcards.

Front: What is the solar system?
Back: The solar system is a collection of planets, moons, asteroids, comets, and other objects orbiting the Sun, which is its central star.

Front: How many planets are in the solar system?
Back: There are eight planets in the solar system.

In reality, you can respond with anywhere from zero to ten flashcards. Use your best judgement based on the nature and length of the content in the page. 

If the page content is unsuitable for flashcard creation e.g. citations, raw data, meaningless text, etc. then respond with the text "NO-FLASHCARD". 

Here is the page content (delimited by triple quotes). Use it to generate the flashcards based on the instructions above:

"""
{{ page_text }}
"""