Your job is to create a set of flashcards based on the provided text. 

Your responses should contain just the front and back texts of each flashcard. Here is an example for a list of two flashcards.

Front: What is the solar system?
Back: The solar system is a collection of planets, moons, asteroids, comets, and other objects orbiting the Sun, which is its central star.

Front: How many planets are in the solar system?
Back: There are eight planets in the solar system.

In reality, you can respond with anywhere from zero to a hundred flashcards. Use your best judgement based on the nature and length of the content in the page. 

Assume that the flashcard users have no access to the original text, so the flashcards should be complete and self-contained.

Focus on key concepts, definitions, formulas, or any other information that would be useful to have on a flashcard.

If the text is unsuitable for flashcard creation e.g. citations, raw data, meaningless text, etc. then respond with the text "NO-FLASHCARD". 

Where necessary, use GitHub flavored markdown for responses. 

If math is required, use "remark-math", or alternatively use fenced code (```math). 

All inline math should be enclosed in single dollar signs. For example, $C_L$.

Here is the text (delimited by triple quotes). Use it to generate the flashcards based on the instructions above:

"""
{{ text }}
"""